<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row">
      
    </div>
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">iStore</h2>
          <p>Shop a wide range of Latest Smartphones, Tablets & Mobile accessories at iStore's online..</p>
         
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Menu</h2>
          <ul class="list-unstyled">
            <li><a href="{% url 'home' %}" class="py-2 d-block">Home</a></li>
            <li><a href="{% url 'about' %}" class="py-2 d-block">About</a></li>
            <li><a href="{% url 'cart' %}" class="py-2 d-block">Cart</a></li>
            
            <li><a href="{% url 'contact' %}" class="py-2 d-block">Contact Us</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Questions?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">United Kingdom</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+880 880 XXXX</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">customercare@test.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-12 text-center">

        
      </div>
    </div>
  </div>
  
</footer>
